*{

padding: 0;
box-sizing: border-box;


}

.container{
    
   display: flex;
   justify-content: flex-start;
    
    width: 100%;

 
 
}
.container__navbar{
 display: flex;
  align-items: baseline;
 font-family: "Poppins";
 
 
  
  
  width: 100vw;
  
}
.container li{

    
    
}
.container__invi{
font-family: "Poppins";
margin: 0 auto;
cursor: pointer;

}
.container ul {

    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
    margin: 0 auto;
    margin-right: 25em;
    font-size: 14px;
}

.container a{
    text-decoration: none;
    color: black;

}
.container__button{
    margin:0 auto;
    
}

.container__btn1{
    font-family: "Poppins";
    background: white;
    border: none;
    color: black;
    padding: 3px 12px;
    font-weight: bold;
    cursor: pointer;
}
.container__btn2{
    color: white;
    background: black;
    border-radius: 3px ;
    padding: 2px 8px ;
    font-family: "Poppins";
    cursor: pointer;
    border: none;
    font-size: 14px;
    height: 10;
    

}
.list1{
    border:0;
    outline: none;
    cursor: pointer;
    
}

.section{
   display: flex;
   align-items: start; 
     height: 50vh; 
    background: black;
    color: white;
    margin: 0 auto;
    width: 97%;
    font-family: "Poppins";
    border-radius:.3em ;
    
    
}
.section__txt-area{
    height: 50vh;
    padding-left: 58px;
    padding-top: 4%;
    width: 59%;
 
}
.section__txt{

    margin: 0 auto;
    font-size: 29px;
    padding-bottom: .1em;

    
}
.section__txt-1{
    font-size: 86%;
    width: 84%;
}


.section__hero-img{

    width: 45vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: -12px;
  
}
.section img{

    height: 67vh;
}


.section__box{
display: flex;
align-items: center;
margin-top: 4%;

}
.section__searching{
   
    height: 7vh;
    border-radius: 3px;
    border: 0;
    width: 55%;
    padding-left: 8px;
    font-size: 12px;
    color: #A1A1A1;
    padding-left: 8px;
    font-family: "Poppins";
    margin-right: 19px;
    cursor: pointer;

}
.section option{
    color: black;
}
.section__btn{
    border-radius: 7px;
    border: 0;
    height: 39px;
    width: 26%;
    font-size: 11px;
    font-weight: bold;
    color: white;
    background-image:linear-gradient(to right,#FB7B30,#A831A5) ;
    cursor: pointer;
    font-family: "Poppins";

}

.section-2{

     margin-top: 10%;
}

 .section-2__company{


 margin: auto; 
 width: 100%;
 margin: auto;
 display: flex;
 justify-content: space-around;
 height: 10vh;
 align-items: center;
 
  
    

}
.section-2__comp{
    height: 42px;
    width: 140px;
} 

.content-3{
    
 display: flex;
 font-family: "Poppins";
 width: 97%;
     margin: 0 auto;
     
    
     align-items: center;
     margin-top: 6%;

}
.content-3__pic1{

   

}
.content-3__get{
    margin: 0 auto;
    margin: left;
    margin-right: 6%;
    margin-left: 6%;
     height : 87vh;
}
.content-3__get h1{

    padding-bottom: 7%;
    font-size: 30px;
}
.content-3__get h5{
    display: flex;
    flex-direction: row;
    
    width:30%;
    margin-bottom: -3%;
}
.content-3__get p{

    font-size: 12px;
    margin-right:1%;
}
.content-3__button{
    width: 100%;
    text-align: center;
    margin-top: 16%;
}
.content-3__botn{
    border-radius: 3px;
    border: 0;
    height: 34px;
    width: 47%;
    font-size: 11px;
    font-weight: bold;
    color: white;
    background-image:linear-gradient(to right,#FB7B30,#A831A5) ;
    cursor: pointer;
    
 }  
.content-3__photos{
    width: 26vw;
    height: 45vw;

}
h5::before {
    
    content: url(/invitation-brief/images/checkmark.svg)"\00a0\00a0\00a0";    
}



.content-4{
    display: flex;
    align-items: start; 
      height: 50vh; 
     background: black;
     color: white;
     margin: 0 auto;
     width: 97%;
     font-family: "Poppins";
     border-radius:.3em ;
     margin-top: 8%;

}
.content-4__txt-area-2{

    height: 50vh;
    padding-left: 37px;
    padding-top: 3%;
    width: 66%;

}

.content-4__txt-2{

    margin: 0 auto;
    font-size: 29px;
    margin-right: 19%;
}
.content-4__text-2{
    font-size: 75%;
    width: 84%;
    display: flex;
    flex-direction: row;
    padding-right: 55%;
    justify-content: space-between;
    margin-top: 3px;



}
.content-4__text-3{

        font-size: 75%;
        width: 84%;
        display: flex;
        flex-direction: row;
        padding-right: 65.5%;
        justify-content: space-between;
        margin-top: -10px;
        
    
}
.fa-check-circle{
    display: flex;
    align-items: center;  
}
.content-4__txt-area-2 i{

    display: flex;
    font-weight: 700;
    font-size: 17px;
}
.content-4__box-2{
    display: flex;
    align-items: center;
    margin-top: 4%;

}

.content-2__btn{

    border-radius: 3px;
    border: 0;
    height: 34px;
    width: 30%;
    font-size: 11px;
    font-weight: bold;
    color: black;
    background-image:white ;
    cursor: pointer;
    font-family: "Poppins";
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
}
.content-2__btn-2{
    border-radius: 3px;
    border: 0;
    height: 34px;
    width: 24%;
    font-size: 11px;
    font-weight: bold;
    color: white;
    background-image:linear-gradient(to right,#FB7B30,#A831A5) ;
    cursor: pointer;
    font-family: "Poppins";
    
}

.content-4__signup-img{

    width: 31vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: -36px;
  
}
.content-4 img{

    height: 67vh;
    margin-right: 63%;
}